.contact_page {
   position: relative;
   background: var(--white);

   .contact_content_wrapper {
      width: 100%;
      padding: 0 64px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;



      .content_num {
         max-width: 1140px;
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         padding-top: 32px;
         gap: 28px;

         .number_container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 28px;

            .number_text {
               width: 100%;
               font-family: var(--f-medium);
               font-size: 20px;
               color: var(--black);
               text-align: center;
               line-height: 1.3;

               .p2 {
                  display: none;
               }

               span {
                  color: var(--pink)
               }
            }

            .numbers {
               width: 100%;
               height: 100%;
               display: grid;
               grid-template-columns: 1fr 1fr;
               justify-items: center;
               gap: 25px;
               font-family: var(--f-medium);
               text-align: left;
               


               .num_section {
                  width: 100%;
                  height: 70px;
                  color: var(--black);
                  text-decoration: none;
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                  background: var(--gray);
                  transition: all .3s ease;
                  border-radius: 36px;

                  .num_sec_left {
                     display: flex;
                     align-items: center;
                     gap: 15px;
                  }

                  .num_sec_right {
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     line-height: 1.3;

                     a {
                        color: var(--black);
                        transition: all .3s ease;

                        &:hover {
                           color: var(--pink);
                        }
                     }
                  }
               }
            }
         }
      }

      .contact-form__wrapper {
         max-width: 1140px;
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         padding-bottom: 32px;
         gap: 28px;
         border-radius: 36px;

         .base_img {
            

            img {
               width: 100%;
               height: 550px;
               object-fit: cover;
               border-radius: 36px;
            }

         }

         .map {
            width: 50%;
            height: 100%;
            display: flex;
            

            .map_inner {
               width: 100%;
               height: 100%;
               display: flex;

               iframe {
                  width: 100%;
                  height: 550px;
                  display: block;
                  border-radius: 36px;
               }
            }
         }
      }
   }
}

@media screen and (max-width:1140px) {

   .contact_page {

      .contact_content_wrapper {
         max-width: 1140px;
         width: 100%;
         padding: 32px 40px;

         .content_num {
            display: flex;
            flex-direction: column;

            .number_container {
               width: 100%;

               .number_text {
                  span {
                     color: var(--pink)
                  }
               }

               .numbers {

                  .num_section {
                     width: 100%;
                     height: 80px;
                     color: var(--black);
                     text-decoration: none;
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: space-evenly;
                     background: var(--gray);
                     transition: all .3s ease;

                     .num_sec_left {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                     }

                     .num_sec_right {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        gap: 15px;

                        a {
                           color: var(--black);
                           transition: all .3s ease;

                           &:hover {
                              color: var(--pink);
                           }
                        }
                     }
                  }
               }
            }

            .swiper {
               width: 250px;
               height: 300px;

               .swiper-slide {

                  .num_cards {

                     .num_filter {
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(2px);
                        background: var(--gray);
                        border: 0;
                     }
                  }
               }
            }
         }

         .contact-form__wrapper {
            max-width: 1140px;
            width: 100%;
            display: flex;
            gap: 28px;
            padding: 32px;
            background: #ffffff1f;


         }
      }
   }
}

@media screen and (max-width:768px) {

   .contact_page {
      .contact_content_wrapper {
         gap: 16px;
         padding: 25px 16px;

         .content_num {
            display: flex;
            flex-direction: column;
            padding: 0;

            .number_container {
               width: 100%;
               gap: 15px;

               .number_text {
                  width: 100%;
                  font-family: var(--f-medium);
                  font-size: 20px;
                  color: var(--black);
                  text-align: center;
                  line-height: 1.3;
                  padding: 0;

                  .p1 {
                     display: none;
                  }

                  .p2 {
                     display: block;
                  }

                  span {
                     color: var(--pink)
                  }
               }

               .numbers {
                  grid-template-columns: 1fr;
                  gap: 10px;

                  .num_section {
                     height: 80px;

                     .num_sec_left {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                     }

                     .num_sec_right {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        gap: 10px;

                     }
                  }
               }
            }
         }

         .contact-form__wrapper {
            max-width: 1140px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding: 16px;

            .base_img {

               display: none;

            }

            .map {
               width: 100%;
               height: 100%;
               display: flex;

               .map_inner {
                  width: 100%;
                  height: 100%;
                  display: flex;

                  iframe {
                     width: 100%;
                     height: 550px;
                     display: block;
                  }
               }
            }

         }
      }
   }
}